
.h2
{

font-size: 10px;
font-weight: 400;
line-height: 10px;
text-align: right;

}
.home-hint{
       top: 32%;
       right: 10%;
    }
.paragragh{
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    text-align: right;  
}

.button{
    padding: 0;

    width: 85px;
    
}

@media (max-width:700px){
    .home-hint{
       top: 20% ;
       right: 10%;
    }
   
}
@media (min-width:700px){
    
    .h2
    {
        
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        text-align: right;
        
    }
    .home-hint{
       gap: 10px !important;
    }
    
    .paragragh{
        font-size: 14px;
        
    }
    
    .button{
        padding: 0;
        width: 100px;
        padding: 5px 0;
        
    }
}
@media (min-width:1000px){

    .h2
    {
    
    font-size: 33px;
    font-weight: 700;
    line-height: 35px;
    text-align: right;
    
    }
    .font{
        font-size: 22px;
    }
    .home-hint{
       gap: 30 !important;
       padding: 15px !important;
     }
  
    .paragragh{
        font-size: 18px;
        line-height: 20px;
       
    }
    
    .button{
        padding: 0;
        width: 150px;
        padding: 7px 0;
        
    }
}

.instadof,
.desc {
  font-family: Almarai;
  font-size: 22.56px;
  font-weight: 400;
  line-height: 31.87px;
}
.colors {
  font-family: Almarai;
  font-size: 21.22px;
  font-weight: 400;
  line-height: 27.03px;
}
.dot {
  height: 20px;
  width: 20px;
  background-color: chartreuse;
  border-radius: 50%;
  display: inline-block;
}
.main-col {
  transition: all 0.5s;
  overflow: hidden;
}
.main-col:hover .shoppinNow{
    transform: translateY(0);
   
}
.main-col:hover {
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}
.numberOfRate{
    color: #D7A49A;
}
.shoppinNow{
    background-color: #D7A49A;
    padding: 10.18px 112.05px;
    border: none;
    margin-bottom: 7px;
    color: white;
    border-radius: 5px;
    transform: translateY( 120%);
    transition: all .5s;
    white-space: nowrap;
}

@media (max-width:600px) {
    .wi{
        width: 100%;
    }
}