
<section class="mt-5 position-relative ">
   <div>
    <img src="../../../assets/image/homeslider.jfif" class="w-100" alt="GIFTY gifty cofeshop">
   </div>
   <div class="home-hint d-flex p-1 position-absolute  flex-column gap-1 main-bg pt-1 w-40 position-absolute ">
   <p class="m-0 font">منتجات جديدة</p>
   <p class="h2 m-0 text-color">
    اكتشف المجموعة<br> الجديدة  من منتجاتنا الان 
   </p>
   <p dir="ltr" class="m-0 paragragh">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
   <button class="button btn-color border-0 text-white">
   تسوق الان
   </button>
   </div>

</section>

<section class="mt-5">
    <div class="container">
        <div class="row text-center ">
            <div class="col-md-4 main-col">
                <div class="  mb-1 ">
                    <div class="mt-2">
                        <img src="../../../assets/image/f731f5007692479bb78e3839437a9388.jpeg" class="w-100" alt="">
                    </div>
                    <p class="desc pt-2">مج حراراي مطبوع</p>
                    <p><span><i class="fa fa-star text-danger"></i></span><span>765</span></p>
                    <p class="instadof"> بدلا من 7854</p>
                    <p class="d-flex colors justify-content-center align-items-center">الالوان المتوفره<span
                            class="dot"></span> </p>
                </div>
                <button class="w-100 shoppinNow">تسوق الان</button>
            </div>
            <div class="col-md-4 main-col">
                <div class="  mb-1 ">
                    <div class="mt-2">
                        <img src="../../../assets/image/f731f5007692479bb78e3839437a9388.jpeg" class="w-100" alt="">
                    </div>
                    <p class="desc pt-2">مج حراراي مطبوع</p>
                    <p><span><i class="fa fa-star text-danger"></i></span><span>765</span></p>
                    <p class="instadof"> بدلا من 7854</p>
                    <p class="d-flex colors justify-content-center align-items-center">الالوان المتوفره<span
                            class="dot"></span> </p>
                </div>
                <button class="w-100 shoppinNow">تسوق الان</button>
            </div>
            <div class="col-md-4 main-col">
                <div class="  mb-1 ">
                    <div class="mt-2">
                        <img src="../../../assets/image/f731f5007692479bb78e3839437a9388.jpeg" class="w-100" alt="">
                    </div>
                    <p class="desc pt-2">مج حراراي مطبوع</p>
                    <p><span><i class="fa fa-star text-danger"></i></span><span>765</span></p>
                    <p class="instadof"> بدلا من 7854</p>
                    <p class="d-flex colors justify-content-center align-items-center">الالوان المتوفره<span
                            class="dot"></span> </p>
                </div>
                <button class="w-100 shoppinNow">تسوق الان</button>
            </div>
            <div class="col-md-4 main-col">
                <div class="  mb-1 ">
                    <div class="mt-2">
                        <img src="../../../assets/image/f731f5007692479bb78e3839437a9388.jpeg" class="w-100" alt="">
                    </div>
                    <p class="desc pt-2">مج حراراي مطبوع</p>
                    <p><span><i class="fa fa-star text-danger"></i></span><span>765</span></p>
                    <p class="instadof"> بدلا من 7854</p>
                    <p class="d-flex colors justify-content-center align-items-center">الالوان المتوفره<span
                            class="dot"></span> </p>
                </div>
                <button class="w-100 shoppinNow">تسوق الان</button>
            </div>




        </div>
    </div>
</section>

