<section class="mt-5 position-relative ">
   <div>
    <img src="../../../assets/image/homeslider.jfif" class="w-100" alt="GIFTY gifty cofeshop">
   </div>
   <div class="home-hint d-flex p-1 position-absolute  flex-column gap-1 main-bg pt-1 w-40 position-absolute ">
   <p class="m-0 font">منتجات جديدة</p>
   <p class="h2 m-0 text-color">
    اكتشف المجموعة<br> الجديدة  من منتجاتنا الان 
   </p>
   <p dir="ltr" class="m-0 paragragh">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
   <button class="button btn-color border-0 text-white">
   تسوق الان
   </button>
   </div>

</section>
