<section class="mt-5">
    <div class="container">
        <div class="row text-center ">
            <div class="col-md-4 main-col">
                <div class="  mb-1 ">
                    <div class="mt-2">
                        <img src="../../../assets/image/f731f5007692479bb78e3839437a9388.jpeg" class="w-100" alt="">
                    </div>
                    <p class="desc pt-2">مج حراراي مطبوع</p>
                    <p><span><i class="fa fa-star text-danger"></i></span><span>765</span></p>
                    <p class="instadof"> بدلا من 7854</p>
                    <p class="d-flex colors justify-content-center align-items-center">الالوان المتوفره<span
                            class="dot"></span> </p>
                </div>
                <button class="w-100 shoppinNow">تسوق الان</button>
            </div>
            <div class="col-md-4 main-col">
                <div class="  mb-1 ">
                    <div class="mt-2">
                        <img src="../../../assets/image/f731f5007692479bb78e3839437a9388.jpeg" class="w-100" alt="">
                    </div>
                    <p class="desc pt-2">مج حراراي مطبوع</p>
                    <p><span><i class="fa fa-star text-danger"></i></span><span>765</span></p>
                    <p class="instadof"> بدلا من 7854</p>
                    <p class="d-flex colors justify-content-center align-items-center">الالوان المتوفره<span
                            class="dot"></span> </p>
                </div>
                <button class="w-100 shoppinNow">تسوق الان</button>
            </div>
            <div class="col-md-4 main-col">
                <div class="  mb-1 ">
                    <div class="mt-2">
                        <img src="../../../assets/image/f731f5007692479bb78e3839437a9388.jpeg" class="w-100" alt="">
                    </div>
                    <p class="desc pt-2">مج حراراي مطبوع</p>
                    <p><span><i class="fa fa-star text-danger"></i></span><span>765</span></p>
                    <p class="instadof"> بدلا من 7854</p>
                    <p class="d-flex colors justify-content-center align-items-center">الالوان المتوفره<span
                            class="dot"></span> </p>
                </div>
                <button class="w-100 shoppinNow">تسوق الان</button>
            </div>
            <div class="col-md-4 main-col">
                <div class="  mb-1 ">
                    <div class="mt-2">
                        <img src="../../../assets/image/f731f5007692479bb78e3839437a9388.jpeg" class="w-100" alt="">
                    </div>
                    <p class="desc pt-2">مج حراراي مطبوع</p>
                    <p><span><i class="fa fa-star text-danger"></i></span><span>765</span></p>
                    <p class="instadof"> بدلا من 7854</p>
                    <p class="d-flex colors justify-content-center align-items-center">الالوان المتوفره<span
                            class="dot"></span> </p>
                </div>
                <button class="w-100 shoppinNow">تسوق الان</button>
            </div>




        </div>
    </div>
</section>