/* You can add global styles to this file, and also import other style files */

.active{
    color: #E7D7C9  !important;
}
<<<<<<< HEAD
.w-90
{
    width: 90%;
}
.w-40{
    width: 40%;
}
.main-color {
color:#F4DEDACC
}
.main-bg{
    background-color: #F4DEDACC;
}
.text-color{
    color: #D7A49A;;
}
.btn-color{
    background-color: #D7A49A;
}
=======

>>>>>>> 245d1225b044d79f25593d8bacd25e452f975279
