/* You can add global styles to this file, and also import other style files */

.active{
    color: #E7D7C9  !important;
}
<<<<<<< HEAD
:root{
    --main-color:#D7A49A;
    --secondary-color:#F4DEDACC;
}
=======
>>>>>>> ebc9a887934db3a79b1e19f6062eaef55b5fd067

.w-90
{
    width: 90%;
}
.w-40{
    width: 40%;
}
.main-color {
color:var(--secondary-color)
}
.main-bg{
    background-color: var(--secondary-color);
}
.text-color{
    color: var(--main-color);
}
.btn-color{
    background-color: var(--main-color);
}
<<<<<<< HEAD
=======


>>>>>>> ebc9a887934db3a79b1e19f6062eaef55b5fd067
