/* You can add global styles to this file, and also import other style files */

.active{
    color: #E7D7C9  !important;
}

:root{
    --main-color:#D7A49A;
    --secondary-color:#F4DEDACC;
    --paragraph-color:#9F9F9F
}


.w-90
{
    width: 90%;
}
.w-40{
    width: 40%;
}
.main-color {
color:var(--secondary-color)
}
.main-bg{
    background-color: var(--secondary-color);
}
.text-color{
    color: var(--main-color);
}
.btn-color{
    background-color: var(--main-color);
}
.p-color{
    color:var(--paragraph-color)
}




