.group input{
    border: solid 1px  #EBEAEB;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 12px 40px 12px 30px;
    font-size: 14px;
    font-weight: 500;
    // margin-bottom: 20px;
}
.width {
  width: 310px;
  text-align: center;
  margin: auto;
}
.group input::first-letter{
  margin-left: 100px;
}
.input-password {
    box-sizing: border-box;
    background-image: url("../../../assets/image/lock.png");
    background-position:99.5% 5px; 
    background-size: 30px;
    background-repeat: no-repeat;
  }
input[type=email] {
    box-sizing: border-box;
    background-image: url("../../../assets/image/sms.png");
    background-position:99% 4px; 
    background-size: 30px;
    background-repeat: no-repeat;
  }
input[type=phone] {
    box-sizing: border-box;
    background-image: url("../../../assets/image/Vector.png");
    background-position:99% 10px ; 
    background-size: 25px;
    background-repeat: no-repeat;
  }
.input-name {
    box-sizing: border-box;
    background-image: url("../../../assets/image/user.png");
    background-position:99% 5px; 
    background-size: 30px;
    background-repeat: no-repeat;
  }
button{
    background-color: #D7A49A;
    border-radius: 13px 10px;
    border-radius: 8px;
    border: none ;
    color: white;
}
::placeholder{
    padding-right: 5px;
}
.account{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  
}
.account a{
  color: #D7A49A;
  text-decoration: none;
}