<form [formGroup]="payingGroup" (ngSubmit)="onsend()" class="m-auto w-50">
    <p class="h4">تفاصيل الدفع</p>
    <p class="w-75 py-1">
        <label for="country" class=" py-1 h6">الدولة</label>
        <!-- <input formControlName="" type="text"  class="form-control p-2" id="country"> -->
        <select formControlName="country"  name="country" class="form-control p-2" id="country">
            <option  selected   value="مصر">مصر</option>
            <option  value="السعوديه">السعوديه</option>
            <option  value="الامارات">الامارات</option>
        
        </select>
    </p>
    <p class="w-75 py-1">
        <label for="cardNum" class=" py-1 h6">رقم بطاقة الدفع</label>
        <input formControlName="card_num" type="text"  class="form-control p-2" id="cardNum">
    </p>
    <p class="w-75 py-1">
        <label for="cardNum" class=" py-1 h6">اسم صاحب البطاقة</label>
        <input formControlName="card_name" type="text"  class="form-control p-2" id="cardNum">
    </p>
    <p class="w-75 py-1">
        <label for="cardNum" class=" py-1 h6 d-block">تاريخ الانتهاء</label>
        <span class="d-flex justify-content-around">
            <select class="px-3 py-2 " name="month" id="month">
                <option selected disabled value="">الشهر</option>
                <option value="">يناير</option>
                <option value="">فبراير</option>
                <option value="">مارس</option>
                <option value="">أبريل</option>
                <option value="">مايو</option>
                <option value="">يونيو</option>
                <option value="">يوليو</option>
                <option value="">اغسطس</option>
                <option value="">سبتمبر</option>
                <option value="">أكتوبر</option>
                <option value="">نوفمبر</option>
                <option value="">ديسمبر</option>
            </select>
            <select class="px-4 py-2 " name="year" id="year">
                <option selected disabled value="">السنه</option>
                <option value="">2024</option>
                <option value="">2025</option>
    
            </select>
        </span>
    </p>
    <p class="w-50 pt-3 pb-1"  >
        <input formControlName="secret_num"  type="text"  class="form-control p-2" placeholder="الرقم السري">
    </p>
    <div class="d-flex gap-4">
        <button class="py-2  px-5 border-0 rounded-2 btn-color">حفظ</button>
        <button class="py-2  px-5 border rounded-2 bg-white border-main ">الغاء</button>
    </div>
</form>