.border-main
{
    border-color: #d7a49a !important;
}
@media (max-width:575px) {
    form{
        width: 100% !important;
        // background-color: #d7a49a;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        padding-top: 10px;
    }


}
