@if(page()==1){
    
    <form [formGroup]="enterEmailForm" class="email formwidth m-auto mb-3" (ngSubmit)="onSubmit()">
        @if(good()){
            <p class="alert alert-success">تم ارسال كود الي بريدك الالكتروني</p>
        }
        <label for="email " class="almarai-light ">ادخل البريد الالكتروني</label>
        <input type="email" formControlName="email" id="email" class=" input" placeholder="ادخل البريد الالكتروني">
       @if(enterEmailForm.get("email")?.getError("required") &&enterEmailForm.get("email")?.touched){
        <p class="m-0 p-2 w-100 bg-danger-subtle ">يجب ادخال البريد الالكتروني</p>
    
       }
       @else if(enterEmailForm.get("email")?.getError("email") &&enterEmailForm.get("email")?.touched){
        <p class="m-0 p-2 w-100 bg-danger-subtle ">يجب ادخال البريد الالكتروني بشكل صحيح</p>
    
       }
       
        @else if(iserror()){
            <p class="m-0 p-2 w-100 bg-danger-subtle "> {{emailmessage()}}</p>
        }
        
        
        <button class="w-100 mt-3" >ارسل الكود 
            @if(spinner()){

                <i class="fa-solid fa-spinner fa-spin"></i>
            } 
        </button>
    
    
    </form>
}
@else if(page()==2){
    <form [formGroup]="entercode" class="email formwidth m-auto mb-3" (ngSubmit)="verifyCode()">
        <label for="code" class="almarai-light ">أدخل الكود</label>
        <input type="text" formControlName="code" id="code" class="input" placeholder="أدخل الكود">
       @if(entercode.get("code")?.getError("required") &&entercode.get("code")?.touched){
        <p class="m-0 p-2 w-100 bg-danger-subtle ">يجب ادخال الكود</p>
    
       }
       @else if(entercode.get("code")?.getError("minlength") &&entercode.get("code")?.touched){
        <p class="m-0 p-2 w-100 bg-danger-subtle ">الحد الادني 4 خانات</p>
    
       }
       
        @else if(iserror()){
            <p class="m-0 p-2 w-100 bg-danger-subtle "> {{emailmessage()}}</p>
        }
        
        
        <button class="w-100 mt-3" >ارسل الكود 
            @if(spinner()){

                <i class="fa-solid fa-spinner fa-spin"></i>
            } 
        </button>
    
    
    </form>
}
@else if(page()==3){
    
    
        <form [formGroup]="resetpassword" class="email formwidth m-auto mb-3" (ngSubmit)="ResetPassword()">
            @if(good()){
                <p class="alert alert-success">تم تغيير كلمة المرور بنجاح</p>
            }
            <label for="password" class="almarai-light ">أدخل كلمه السر الجديدة</label>
            <input type="password" formControlName="newPassword" id="passsword" class=" input" placeholder="أدخل كلمه السر الجديدة">
            @if(resetpassword.get("newPassword")?.errors &&resetpassword.get("newPassword")?.touched){
                @if(resetpassword.get("newPassword")?.getError("required")){   
                    <p class="bg-danger-subtle m-0 rounded-2 mt-1 py-1">يجب ادخال كلمه المرور الجديدة</p>
                }
                @else if (resetpassword.get("newPassword")?.getError("minlength") ) {
                    <p class="bg-danger-subtle m-0 rounded-2 mt-1 py-1">الحد الادني 6 خانات</p>    
                }
                @else if (resetpassword.get("newPassword")?.getError("maxlength") ) {
                    <p class="bg-danger-subtle m-0 rounded-2 mt-1 py-1">الحد الاقصي 25 خانات</p>   
                }
                
            }
            <label for="confirm" class="almarai-light ">تأكيد كلمة السر</label>
            <input type="password" formControlName="confirmPassword" id="confirm" class=" input" placeholder="تأكيد كلمة السر">
            @if(resetpassword.get("confirmPassword")?.errors &&resetpassword.get("confirmPassword")?.touched){
                @if(resetpassword.get("confirmPassword")?.getError("required")){   
                    <p class="bg-danger-subtle m-0 rounded-2 mt-1 py-1">يجب تاكيد كلمة السر</p>
                }
                @else if (resetpassword.getError('mismatch') && resetpassword.get('confirmPassword')?.touched) {
                    <p class="bg-danger-subtle m-0 rounded-2 mt-1 py-1">يجب مطابقة كلمة السر</p>    
                }
              
                
            }
           
            @else if(iserror()){
                <p class="m-0 p-2 w-100 bg-danger-subtle "> {{emailmessage()}}</p>
            }
            
            
            <button class="w-100 mt-3" >ارسل الكود 
                @if(spinner()){
    
                    <i class="fa-solid fa-spinner fa-spin"></i>
                } 
            </button>
        
        
        </form>
    }

