#main {
  background-color: rgb(250, 243, 234);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main img {
  width: 60px;
  height: 60px;
}
article{
    cursor: pointer;
}
@media (max-width: 770px) {
  #main {
    height: 400px;
    flex-direction: column !important;
    justify-content: space-around !important;
    padding: 20px 0;
    text-align: center;
  }
  article {
    margin: 10px 0;
    justify-content: center !important;
    align-items: center !important;
  }
  article div {
    width: 191px;
  }
}
