<div id="main">
    <div class="container-fluid ">
        <div class="row flex-row-reverse ">
            <div class="col-md-3">
                <article class="d-flex justify-content-center   align-items-center">
                    <div class="ps-2 text-start">
                        <p class="mb-0 fw-bold">جودة عالية</p>
                        <p class="text-muted">نضمن لكم اجود الخامات</p>

                    </div>
                    <img src="../../../../assets/image/guarantee.png" alt="">
                </article>
            </div>
            <div class="col-md-3">
                <article class="d-flex justify-content-center   align-items-center">
                    <div class="ps-2 text-start">
                        <p class="mb-0 fw-bold">حماية وضمان</p>
                        <p class="text-muted"> يصل الي سنتين </p>

                    </div>
                    <img src="../../../../assets/image/trophy 1.png" alt="">
                </article>
            </div>
            <div class="col-md-3">
                <article class="d-flex justify-content-center   align-items-center">
                    <div class="ps-2 text-start">
                        <p class="mb-0 fw-bold"> شحن مجاني</p>
                        <p class="text-muted"> لكل طلب اعلي من 160 جنيه </p>

                    </div>
                    <img src="../../../../assets/image/shipping.png" alt="">
                </article>
            </div>
            <div class="col-md-3">
                <article class="d-flex justify-content-center   align-items-center">
                    <div class="ps-2 text-start">
                        <p class="mb-0 fw-bold">دعم 24/7 </p>
                        <p class="text-muted"> دعم لكل الاوقات</p>

                    </div>
                    <img src="../../../../assets/image/customer-support.png" alt="">
                </article>
            </div>
        </div>
    </div>
</div>