<app-bg-fixed page_tital="تعقب الطلب" ></app-bg-fixed>


<form  class="width my-5" routerLink="/حاله التعقب">       
        <!-- <label for="number" class="text-end bg-danger ">رقم الطلب</label> -->
         <p  for="number" class="text-end mb-1 almarai-light">رقم الطلب</p>
        <input  type="number" id="number" placeholder="رقم الطلب" class="form-control mb-3">
        
        <!-- <label for="email" class="text-end">البريد الالكتروني</label> -->
        <p  for="number" class="text-end mb-1 almarai-light">البريد الالكتروني</p>

        <input type="email" id="email" placeholder="البريد الالكتروني" class="form-control">
        <div >
        <button  class="w-75 my-2 m-auto text-white border-0 rounded-2 py-2 btn-color almarai-light">تعقب الطلب</button>

        </div>
</form>


<app-fixed-info></app-fixed-info>
