<app-bg-fixed page_tital="عربه التسوق"/>
<section id="cart" class="d-flex my-5 justify-content-around flex-row-reverse align-items-center">
    <div class="cart-info">
        <h2 class="mt-0 mb-4">عربه التسوق</h2>
        <p class="design-price"> <span class="fw-bold">السعر بعد التخفيض</span><span class="text-secondary">36788حنيه مصري</span></p>
        <p class="design-price"><span class="fw-bold">السعر الكلي</span><span class="full-mony">3559جنيه مصري</span></p>
        <a class="pay btn border-1  border" >الدفع</a>
    </div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>السعر الكلي</th>
                <th>الكمية</th>
                <th>السعر</th>
                <th>المنتج</th>
                <th></th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td>
                    <i class="fa fa-trash"></i>
                </td>
                <td class="fw-semibold">
                    23468جنيه مصري
                </td>
                <td>
                    <span class="count">4</span>
                </td>
                <td class="text-muted">
                    568جنيه مصري
                </td>
                <td class="text-muted">
                    مج حراري مطبوع
                </td>
                <td>
                    <img src="../../../assets/image/trophy 1.png" alt="">
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-trash"></i>
                </td>
                <td class="fw-semibold">
                    23468جنيه مصري
                </td>
                <td>
                    <span class="count">4</span>
                </td>
                <td class="text-muted">
                    568جنيه مصري
                </td>
                <td class="text-muted">
                    مج حراري مطبوع
                </td>
                <td>
                    <img src="../../../assets/image/trophy 1.png" alt="">
                </td>
            </tr>
            
        </tbody>
    </table>
</section>

<app-fixed-info/>
