<section class="my-5 px-1">
    <div class="container-fluid ">
        <div class="row text-center ">
            @for (product of products; track $index) {
            <div class="  col-sm-6  col-md-3  col-lg-2 main-col">
                <div class="  mb-1 " [routerLink]="['/تفاصيل',product.id]">
                    <div class="mt-2">
                        <img [src]="product.photoUrl" height="250px" class="w-100" [alt]="product.name">
                    </div>
                    
                    <p class="desc pt-2">{{product.name.split(" ",3).join(" ")}}</p>
                    <p><span><i class="fa fa-star text-warning"></i></span><span>{{product.avgRating}}</span></p>
                    <p class="instadof"> {{product.totalPrice | currency:"EGP"}} </p>
                    <p class="d-flex colors justify-content-center align-items-center">الالوان المتوفره
                        @for (color of product.colors; track $index) {
                            <span class="dot" [style]="{backgroundColor:color}"></span>
                        }
                    </p>
                </div>
                <button class="w-100 shoppinNow justify-content-center p-1 align-items-center d-flex">
                    <span class="ms-1">تسوق الان </span>
                    <span class="fs-3">&#8592;</span> </button>
            </div>
            }

        </div>
    </div>
</section>
