.bg-fix{
    background-image: url(../../../../assets/image/Rectangle\ 1.png);
    height: 200px;
    // background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    // background-color: red;
    // margin-top: 40px !important;
}
@media (max-width:770px) {
    .bg-fix{
        // margin-top: 40px !important;
        height: 150px;
    }
}