.bg-fix{
    background-image: url(../../../../assets/image/Rectangle\ 1.png);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
@media (max-width:770px) {
    .bg-fix{
        height: 150px;
    }
}