
<main class="p-3">

<section  class="w-80 almarai-light  m-auto  my-5">
        <div class="d-flex justify-content-between align-items-center position-relative">
            <i class="fa-solid   fa-circle-check fa-2xl "><div class="vertic1 position-absolute"></div></i>
             
            <i class="fa-regular fa-circle-dot fa-2xl"></i>
            <i class="fa-regular fa-circle fa-2xl"><div class="vertic2 position-absolute"></div></i>
        </div>
</section>


<section class="container almarai-light  m-auto  my-5">
  <div  class="d-flex justify-content-between align-items-center">
    <h5>عدد العناصر </h5>
    <h5>3 عناصر</h5>
  </div>
  <!-- must here call product component and give it the product user buy it  -->
  <!-- <app-product></app-product> -->
 
</section>


<section  class="container almarai-light  m-auto bord my-5">
    <h5>العنوان</h5>
    <p class="p-color">(232) 444 888 99  99</p>
    <h5 class="p-color">الاباصيري شارع الجلاء رقم 8</h5>
</section>


<section class="container almarai-light m-auto bord my-5">
    <h6 class="">العناصر المطلوبة</h6>
    <hr class="hrw text-color" />
    <div class="row">
        <div class="col-10 col-md-6  col-lg-4">
            <div class="row align-items-center">
                <div class="col-4 col-sm-6">
                    <img src="../../../assets/image/Group 1171275534.png" class="w-75" alt="cofe">
                </div>
                <div class="col-8 col-sm-6">
                    <h6>مج حراري مطبوع</h6>
                    <p class="fs-12">245 جنيه مصري <span><img src="../../../assets/image/X.png" class="m-3" alt=""> 1</span></p>
                </div>
            </div>
        </div>
        <div class="col-2 col-md-6 col-lg-8" dir="ltr" >
            <div>
            <img src="../../../assets/image/xicon.png" alt="">
           </div>
        </div>
        <div class="col-10 col-md-6  col-lg-4">
            <div class="row align-items-center">
                <div class="col-4 col-sm-6">
                    <img src="../../../assets/image/Group 1171275534.png" class="w-75" alt="cofe">
                </div>
                <div class="col-8 col-sm-6">
                    <h6>مج حراري مطبوع</h6>
                    <p class="fs-12">245 جنيه مصري <span><img src="../../../assets/image/X.png" class="m-3" alt=""> 1</span></p>
                </div>
            </div>
        </div>
        <div class="col-2 col-md-6 col-lg-8" dir="ltr" >
            <div>
            <img src="../../../assets/image/xicon.png" alt="">
           </div>
        </div>
        <div class="col-10 col-md-6  col-lg-4">
            <div class="row align-items-center">
                <div class="col-4 col-sm-6">
                    <img src="../../../assets/image/Group 1171275534.png" class="w-75" alt="cofe">
                </div>
                <div class="col-8 col-sm-6">
                    <h6>مج حراري مطبوع</h6>
                    <p class="fs-12">245 جنيه مصري <span><img src="../../../assets/image/X.png" class="m-3" alt=""> 1</span></p>
                </div>
            </div>
        </div>
        <div class="col-2 col-md-6 col-lg-8" dir="ltr" >
            <div>
            <img src="../../../assets/image/xicon.png" alt="">
           </div>
        </div>
       
        
    </div>
    <div class="w-250px m-auto">
        <hr class="text-color">
        <div class=" d-flex justify-content-between align-items-center">
            <h6 >السعر الكلي</h6>
            <h6 class="text-color">3499جنيه مصري</h6>
        </div>
    </div>

</section>


</main>
<app-fixed-info></app-fixed-info>
