<!-- <section class="container-fluid mb-3 mt-0 pt-0">
    <div class="row g-0">
      <div class="col-12 col-md-12">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <img
              src="../../../../assets/image/productslider2.png"
              height="300px"
              class="w-100"
              alt=""
          /></ng-template>
          <ng-template carouselSlide>
            <img
              src="../../../../assets/image/productslider1.png"
              height="300px"
              class="w-100"
              alt=""
          /></ng-template>
          <ng-template carouselSlide>
            <img
              src="../../../../assets/image/productslider2.png"
              height="300px"
              class="w-100"
              alt=""
          /></ng-template>
        </owl-carousel-o> 
       
    </div>
      <div class="col-md-3">
        <img
          src="../../../../assets/image/image 3.png"
          height="150px"
          class="w-100"
          alt=""
        />
        <img
          src="../../../../assets/image/image 3.png"
          height="150px"
          class="w-100"
          alt=""
        />
      </div>
    </div>
  </section> -->


   <section class="container-fluid mt-3 background">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-md-4">
       <h4>
        +50منتج جديد باسعار رائعة في المتجر
       </h4>
       <p>منتجاتنا غير اي منتجات موجودة منتجاتنا غير اي منتجات موجودةمنتجاتنا غير اي منتجات موجودة</p>
       <button class="btn-color button border-0 text-white ">اكتشف الان</button>
      </div>
      <div class="col-12 col-sm-6  col-md-8">
        <div class="container wi   my-5">
          <owl-carousel-o class="ww" [options]="customOptions">
            <ng-template  carouselSlide>
              <div class=" ">
                <img src="../../../../assets/image/productslider1.png" alt="">
              </div>
              <p class="m-0 text-center h6 text-black">طباعة uv</p>
            </ng-template>
            <ng-template carouselSlide>
              <div class=" ">
                <img src="../../../../assets/image/productslider1.png" alt="">
              </div>
              <p class="m-0 text-center h6 text-black">طباعة سبليمشن</p>
        
            </ng-template>
            <ng-template carouselSlide>
              <div class=""><img src="../../../../assets/image/productslider1.png"  alt="">
              </div>
              <p class="m-0 text-center h6 text-black">
                طباعة outdoor
              </p>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      
    </div>

   </section>

