<section class="container-fluid mb-3 mt-0 pt-0">
    <div class="row g-0">
      <div class="col-12 col-md-12">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <img
              src="../../../../assets/image/productslider2.png"
              height="300px"
              class="w-100"
              alt=""
          /></ng-template>
          <ng-template carouselSlide>
            <img
              src="../../../../assets/image/productslider1.png"
              height="300px"
              class="w-100"
              alt=""
          /></ng-template>
          <ng-template carouselSlide>
            <img
              src="../../../../assets/image/productslider2.png"
              height="300px"
              class="w-100"
              alt=""
          /></ng-template>
        </owl-carousel-o> 
       
    </div>
      <!-- <div class="col-md-3">
        <img
          src="../../../../assets/image/image 3.png"
          height="150px"
          class="w-100"
          alt=""
        />
        <img
          src="../../../../assets/image/image 3.png"
          height="150px"
          class="w-100"
          alt=""
        />
      </div> -->
    </div>
  </section>
  <!-- <owl-carousel-o [options]="customOptions">

   

  </owl-carousel-o> -->