.fixedWidth{
    width: 300px;
}
.width{
    width: 150px;
    color:white;
}
span{
    border-bottom: solid 2px var(--main-color);
    
}
.imgsty{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    // object-fit: contain;

}
.color{
    // --bs-btn-close-color:white !important;
}