

<div class="m-auto fixedWidth">
    <h4 class=" mb-4">نظرة عامة على الحساب</h4>
    <h6 class="almarai-light mb-3">الحساب</h6>
    <h6 class="almarai-light">user name</h6>
    <h6 class="almarai-light mb-4">Nadoa232gmali.com</h6>
    <!-- <div class="d-flex bg-danger justify-content-between"> -->
        <button class="btn-color almarai-light border-0 rounded-2 width py-2 " routerLink="/الصفحه الشخصيه">تعديل التفاصيل</button>
        <span class="h6 me-3 pb-2  almarai-light cp" routerLink="/كلمه السر">تغيير كلمه السر</span>
    <!-- </div> -->
    <h4 class="mt-4 almarai-larg  mb-3 h5">الطلبات الحديثة</h4>
    <button class="btn-color almarai-light border-0 rounded-2 width py-2">ابدا التسوق</button>
    <h4 class="mt-4 almarai-larg  mb-3 h5">العنوان</h4>
    <button class="btn-color almarai-light border-0 rounded-2 width py-2">تعديل العنوان</button>
    <h4 class="mt-4 almarai-larg  mb-3 h5">تفاصيل الدفع</h4>
    <button class="btn-color almarai-light border-0 rounded-2 width py-2">عرض</button>

</div>

