
<div class="container-fluid mt-5 pt-5">
    <div class="row px-3 gy-5 gap-md-0">
        <div  class="col-6 col-md-4 col-lg-2 ">
            
            <h4 class="fs-3 fw-bolder">Giftly</h4>
            <p class="p-0 m-0">  شارع الاباصيري بني سويف </p>
            <p>fl 33132 BNS.</p>
        </div>
        <div class="col-6 col-md-4  col-lg-3 d-flex flex-column gap-3   align-items-center">
            
            <p class="text-secondary">الروابط</p>
            <h6 routerLink="الصفحة الرئسية" routerLinkActive="active">الصفحة الرئيسية</h6>
            <h6  routerLink="من نحن" routerLinkActive="active">من نحن</h6>
            <h6  routerLink="التسوق" routerLinkActive="active">التسوق</h6>
            <h6  routerLink="تواصل معنا" routerLinkActive="active">تواصل معنا</h6>
        </div>
        <div class="col-6 col-md-4 col-lg-2 d-flex align-items-end justify-content-center">
            <div class="d-flex flex-column gap-3  align-content-end  align-items-center">

            <h6  routerLink="المفضلة" routerLinkActive="active">المفضلة</h6>
            <h6 routerLink="عربة الشراء" routerLinkActive="active">طلباتي</h6>
            <h6>تقييم المتجر</h6>
            <h6>الصفحة الشخصية</h6>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 d-flex align-items-start justify-content-center">
            <div class="d-flex flex-column gap-3   align-content-start  align-items-center">
                <p class="text-secondary ">المساعدة</p>
                 <h6>الدفع</h6>    
                 <h6>سياسة الخصوصية</h6>    
                 <h6>تسجيل الدخول</h6>    
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-3   align-content-center align-items-start ">
            <div class="d-flex  align-items-center  justify-content-center ">

                <p class="pb-1 p-0  m-0  underline">شارك معنا</p>
                <input  class=" pb-1 m-0  me-3 px-2  border-end-0 border-start-0 border-top-0 " placeholder="اسم المستخدم/البريد الالكتروني"/>
            </div>
           
        </div>
    </div>
    <hr class="w-75 m-auto mt-3" />
     <h6 dir="ltr" class="w-75 m-auto my-4" >2024 giftly. All rights reserved</h6>
</div>