
<div class="container  my-5">
    <owl-carousel-o  [options]="customOptions">
        <ng-template dotContent="content"  carouselSlide><div class="border p-2">
        <img src="../../../../assets/image/categories1 (1).jfif" class="wfixed"  alt="">
      </div>
      <p class="m-0 text-center h6 text-black">طباعة uv</p>
      </ng-template>  
        <ng-template carouselSlide>
          <div class="border p-2">
          <img src="../../../../assets/image/categories1 (2).jfif" class="wfixed"  alt="">
          </div>
        <p class="m-0 text-center h6 text-black">طباعة سبليمشن</p>
      
      </ng-template>  
        <ng-template carouselSlide>
          <div class="border p-2"><img src="../../../../assets/image/categories1 (3).jfif" class="wfixed"  alt="">
          </div>
          <p class="m-0 text-center h6 text-black">
            طباعة outdoor
          </p>
      </ng-template>  
      </owl-carousel-o>
</div>
