<div class="container wi   my-5">
  <!-- <owl-carousel-o class="ww" [options]="customOptions">
    <ng-template  carouselSlide>
      <div class="border p-2">
        <img src="../../../../assets/image/categories1 (1).jfif" class="wfixed" alt="">
      </div>
      <p class="m-0 text-center h6 text-black">طباعة uv</p>
    </ng-template>
    <ng-template carouselSlide>
      <div class="border p-2">
        <img src="../../../../assets/image/categories1 (2).jfif" class="wfixed" alt="">
      </div>
      <p class="m-0 text-center h6 text-black">طباعة سبليمشن</p>

    </ng-template>
    <ng-template carouselSlide>
      <div class="border p-2"><img src="../../../../assets/image/categories1 (3).jfif" class="wfixed" alt="">
      </div>
      <p class="m-0 text-center h6 text-black">
        طباعة outdoor
      </p>
    </ng-template>
  </owl-carousel-o> -->
  <owl-carousel-o [options]="customOptions">

   @for (cat of categories; track cat.id) {
      <ng-template carouselSlide >
        <img [src]="cat.photoURL" height="400px" [alt]="cat.name">
        <p class="m-0 text-center h6 text-black">
          {{cat.name}}
        </p>
      </ng-template>
    }

  </owl-carousel-o>
</div>