
@media (max-width:600px) {
    .ww
    {
    width: 100% !important;
    display: inline-block;
    margin: auto !important;
    padding: 0;
    margin: 0;
    
}
.wi{
    width: 320px;
    overflow: hidden;
    margin: auto;
}
}