<div class="container  my-5">
    <owl-carousel-o  [options]="customOptions">
        <ng-template dotContent="content"  carouselSlide>
          <img src="../assets/image/slider.jfif" class="w-100 " alt="">
          <h4 class="text-center text-black">طباعة outdoor</h4>
        </ng-template>  
        <ng-template carouselSlide>
          <img src="../assets/image/slider.jfif" class="w-100" alt="">
          <h4 class="text-center text-black">طباعة سبليمشن</h4>
        </ng-template>  
        <ng-template carouselSlide>
          <img src="../assets/image/slider.jfif" class="w-100" alt="">
          <h4 class="text-center text-black">طباعة uv</h4>
        </ng-template>  
      </owl-carousel-o>
</div>