<section class=" px-2">
    <div class="path  py-3 mt-2 px-3">
       <p class="m-0"> الصفحة الرئيسية>التسوق </p>
    </div>

    <div class="container-fluid">
        
        <div class="row mt-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="productImage w-100 text-center">
                            <img src="../../../assets/image/Group 1171275534.png" class="w-100" alt="cofe product-cofe فنجان ">
                    </div>
                
                </div>
                <div class="col-12 col-md-6 mt-3 col-lg-8 px-lg-4 gap-2">

                    <div class="options mb-2 d-flex justify-content-evenly align-items-center">
                        <h6 class="quiecly font">مستعجل</h6>
                        <h6 class="font">عادي</h6>
                    </div>
                    <div class="d-flex justify-content-between w-100 fixWidth align-items-center">
                        <h4>مج حراري مطبوع</h4>
                        <h6 >طباعة سيليمشن</h6>
                    </div>
                    <p class="h5 p-color px-3">389 جنيه مصري</p>
                    <div class="d-flex px-3 my-2 justify-content-start gap-3 align-items-center">
                        <p class="m-0 ">اضافة الي المفضلة</p>
                        <i class="fa-regular fa-heart fa-lg"></i>
                    </div>
                    <div class=" d-flex gap-3 px-3 align-items-center   ">
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="hirozentalLine"></div>
                        <p class="m-0">5 تقييمات للعملاء</p>
                    </div>
                    <p class="m-0 mt-2">Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended highs for a sound.

                    </p>
                    <div class="d-flex justify-content-start my-3 gap-4 align-items-center">
                        <p class="m-0">الوان متوفرة</p>
                        <div class="d-flex justify-content-center align-items-center gap-1 ">
                            <img src="../../../assets/image/Ellipse 3.png"  alt="cofe-color فنجان">
                            <img src="../../../assets/image/Ellipse 3.png"  alt="cofe-color فنجان">
                            <img src="../../../assets/image/Ellipse 3.png"  alt="cofe-color فنجان">

                        </div>
                    </div>
                    <div class="d-flex justify-content-start gap-2 align-items-center">
                        <img src="../../../assets/image/Group 131.png" alt="cofe-sizing mug فنجان">
                        <img src="../../../assets/image/Group 131.png" alt="cofe-sizing mug فنجان">
                        <img src="../../../assets/image/Group 131.png" alt="cofe-sizing mug فنجان">
                        <img src="../../../assets/image/Group 131.png" alt="cofe-sizing mug فنجان">
                    </div>
                </div>          
        </div> 
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-6">
               <div class="user">
                <img src="" alt="">
                <h6></h6>
               </div>
            </div>
            <div class="col-12 ">
                <div class="cart d-flex justify-content-around align-items-center">
                    <button class="d-flex justify-content-center Border py-2 px-1 gap-3 align-items-center">
                        <i class="fas fa-plus"></i>
                        <p class="m-0">1</p>
                        <i class="fas fa-minus"></i>
                    </button>
                    <button class="Border py-2 px-1"> اضافة الي العربة</button>
                </div>

            </div>
        </div>
    </div>
</section>
