// /* Order */
// @layer reset, primeng;

// /* Reset CSS */
// @layer reset {
//   button,
//   input {
//     /* CSS to Reset */
//   }
// }

.bg-color{
    background-color: #D7A49A;
}
.text-color{
    color: #D7A49A;
}
.border-color{
    border-color: #D7A49A;
    outline: none;
    
    
}
.dot {
    height: 20px;
    width: 20px;
  //   background-color: chartreuse;
  margin-left: 1px;
    border-radius: 50%;
    display: inline-block;
  }
.path{
background-color: #F9F1E7;
width: 100%;
}
.quiecly{
    border-bottom: 2px solid #E1B8AC;
    padding: 0 0 5px 0;
}
.hirozentalLine{
    width: 1px;
    height: 30px;
    background-color: black;
}
.Border{
   border-color:var(--main-color);
   border-radius: 4px;
   background-color: white;
}

.cordanate{
    left: 5px;
    // transform: translatey(50%);
    color: #919191;
}
.btn:hover{
    background-color:#daafa7;
}
input[type=file]::file-selector-button{
    visibility: hidden;
    color: transparent;
  }
  
  input[type=file]::-webkit-file-upload-button{
    visibility: hidden;
    color: transparent;
  }

.imgwh{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}

.buton
{
    background-color: var(--button-color);
    border: 0;
    border-radius: 3px;
    padding: 10px 0;
}
.bot{
    border:1px solid var(--main-color);
    background-color: white;
}
.bord{
   transform: scale(1.4);
   border: 1px solid red;
}
@media (min-width:700px){
    .usernamesize{
        font-size: 30px;
    }
}
@media (min-width:1000px){
    .font{
       font-size: 25px;
    }
    .fixWidth{
        width: 75% !important;
    }
    .area{
    width: 50% !important;
    
    }
    .usernamesize{
        font-size: 40px !important;
    }
}
@media (max-width:600px){
    .imgwh{
        width: 30px;
        height: 30px;
    }
}
.p-dialog
{
    background-color: red;
}
@media (max-width:600px) {
    .nested
    {
        width: 90% !important;
    }
}