<nav class="navbar navbar-expand-lg p-0">
    <div class="container-fluid">
        <ul class="navbar-nav p-0">
  
            <a class="navbar-brand   d-flex  align-items-center " routerLink="الصفحة الرئسية">
                <img src="../../../assets/image/gifty.jfif" class="icon-width-height rounded-circle" alt="gifty Gifty ">
                <h4 class="montserrat me-3">Gifty</h4>
              </a>
        </ul>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav m-auto ">
            <li class="nav-item">
                <a class="nav-link " routerLink="الصفحة الرئسية" routerLinkActive="active" >الصفحة لرئسية</a>
                
            </li>
            
            <li class="nav-item">
                <a class="nav-link " routerLink="التسوق" routerLinkActive="active">التسويق</a>
                
            </li>
            
            <li class="nav-item">
                <a class="nav-link " routerLink="من نحن"  routerLinkActive="active" >من نحن</a>
                
            </li>
            
            <li class="nav-item">
                <a class="nav-link " routerLink="تواصل معنا"  routerLinkActive="active" >تواصل معنا</a>
                
            </li>
            
          
            
            
        </ul>
        <ul class="navbar-nav navbar-nav-icon   gap-4">
          <li class="nav-item">
            <a class="nav-link active" routerLink="عربة الشراء" routerLinkActive="active" ><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="المفضلة" routerLinkActive="active"><i class="fa-regular fa-heart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="المفضلة" routerLinkActive="active"><i class="fa-solid fa-magnifying-glass"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link "routerLink="المفضلة" routerLinkActive="active"><i class="fa-regular fa-user"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
