


.icon-width-height{
    width: 70px;
    height: 70px;
}

 .navbar-toggler{
    border: 0;
 }
  .navbar{
    --bs-navbar-toggler-focus-width:0;
  }
  @media  (max-width: 992px){
    .navbar-nav-icon {
        display: flex !important;
        flex-direction: row !important;
       
    }
    
  }
  @media  (max-width: 800px){
    .icon-width-height{
        width: 55px;
        height: 55px;
    }
    .montserrat {
       
        font-size: 28px;
        
      }
    
  }
  
  