


<div class="m-auto fixedWidth mt-3 mt-sm-0">
    <p class="h4 ">تغيير كلمه المرور</p>
    <form [formGroup]="formgroup" (ngSubmit)="onSubmit()">
        <label for="oldPass" class="my-3 ">كلمه السر الحاليه</label>
        <input type="text" formControlName="oldpass" id="oldPass" class="form-control" placeholder="كلمه السر الحاليه" />
         @if(formgroup.get("oldpass")?.errors &&formgroup.get("oldpass")?.touched){
            @if(formgroup.get("oldpass")?.getError("required")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">يجب أدخال كلمة السر الحاليه</p>
            }
            @else if(formgroup.get("oldpass")?.getError("minlength")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">الحد الادني 5 خانات</p>

            }
            @else if(formgroup.get("oldpass")?.getError("maxlength")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">الحد الاقصي 25 خانة</p>

            }
        } 
        <label for="newpass" class="my-3 ">كلمه السر الجديده</label>
        <input type="text" formControlName="newpass" id="newpass" class="form-control"/>
        @if(formgroup.get("newpass")?.errors &&formgroup.get("newpass")?.touched){
            @if(formgroup.get("newpass")?.getError("required")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">يجب أدخال كلمة السر الجديدة</p>
            }
            @else if(formgroup.get("newpass")?.getError("minlength")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">الحد الادني 5 خانات</p>

            }
            @else if(formgroup.get("newpass")?.getError("maxlength")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">الحد الاقصي 25 خانة</p>

            }
        } 
        <label for="confirm" class="my-3 ">تاكيد كلمه السر الجديده</label>
        <input type="text" formControlName="repass" id="confirm" class="form-control"/>
      
            @if(formgroup.get("repass")?.getError("required")&&formgroup.get("repass")?.touched){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">يجب تاكيد كلمة السر </p>
            }
            @else if(formgroup.getError("mismatch")&&formgroup.get("repass")?.touched){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">يجب مطابقة كلمة السر</p>

            
           
        } 
        <div class="d-flex justify-content-between mt-4" >
        <button type="submit" class="btn-color mt-2 almarai-light border-0 rounded-2 width py-2">حفظ 
            @if(isloading()){

                <i class="fa-solid fa-spinner fa-spin"></i>
            }
        </button>
        <button type="reset" class=" mt-2 almarai-light border-0 rounded-2 width py-2">الغاء</button>

        </div>
    </form>
</div>
