


<div class="m-auto fixedWidth mt-3 mt-sm-0">
    <p class="h4 ">تغيير كلمه المرور</p>
    <form [formGroup]="formgroup" (ngSubmit)="onSubmit()">
        <label for="oldPass" class="my-3 ">كلمه السر الحاليه</label>
        <input type="text" formControlName="oldPassword" id="oldPass" class="form-control" placeholder="كلمه السر الحاليه" />
         @if(formgroup.get("oldPassword")?.errors &&formgroup.get("oldPassword")?.touched){
            @if(formgroup.get("oldPassword")?.getError("required")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">يجب أدخال كلمة السر الحاليه</p>
            }
            @else if(formgroup.get("oldPassword")?.getError("minlength")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">الحد الادني 5 خانات</p>

            }
            @else if(formgroup.get("oldPassword")?.getError("maxlength")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">الحد الاقصي 25 خانة</p>

            }
        } 
        <label for="newpass" class="my-3 ">كلمه السر الجديده</label>
        <input type="text" formControlName="newPassword" id="newpass" class="form-control"/>
        @if(formgroup.get("newPassword")?.errors &&formgroup.get("newPassword")?.touched){
            @if(formgroup.get("newPassword")?.getError("required")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">يجب أدخال كلمة السر الجديدة</p>
            }
            @else if(formgroup.get("newPassword")?.getError("minlength")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">الحد الادني 5 خانات</p>

            }
            @else if(formgroup.get("newPassword")?.getError("maxlength")){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">الحد الاقصي 25 خانة</p>

            }
        } 
        <label for="confirm" class="my-3 ">تاكيد كلمه السر الجديده</label>
        <input type="text" formControlName="confirmPassword" id="confirm" class="form-control"/>
      
            @if(formgroup.get("confirmPassword")?.getError("required")&&formgroup.get("confirmPassword")?.touched){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">يجب تاكيد كلمة السر </p>
            }
            @else if(formgroup.getError("mismatch")&&formgroup.get("confirmPassword")?.touched){
                <p class="m-0 rounded px-2 bg-danger-subtle py-2 mt-2">يجب مطابقة كلمة السر</p>

            
           
        } 
        <div class="d-flex justify-content-between mt-4" >
        <button type="submit" class="btn-color mt-2 almarai-light border-0 rounded-2 width py-2">حفظ 
            @if(isloading()){

                <i class="fa-solid fa-spinner fa-spin"></i>
            }
        </button>
        <button type="reset" class=" mt-2 almarai-light border-0 rounded-2 width py-2">الغاء</button>

        </div>
    </form>
</div> 


<!-- <div class="m-auto fixedWidth mt-3 mt-sm-0">
    @if(show()==0){
        <button class="mt-2 almarai-light color border-0 rounded-2 width py-2" (click)="clicked()">تغيير كلمه السر</button>
    }
   @if(show()==1){
    <form [formGroup]="codeform">
        <p class="m-0 bg-success-subtle p-2 rounded-2 mb-2">تم ارسال كود الي بريدك الالكتروني الرجاء ادخاله.</p>
        <input type="text" formControlName="code" class="form-control">
    
  
        <button class="mt-2 almarai-light color border-0 rounded-2 width py-2" (click)="clicked()">تاكيد</button>

    </form>
   }
   @if(show()==2){
    <form [formGroup]="passwdform" >
        <p class="m-0 bg-success-subtle p-2 rounded-2 mb-2">ادخل كلمة السر الجديده</p>

        <input type="text" formControlName="password" class="form-control mb-2">
        @if(passwdform.get("password")?.getError("required")&&passwdform.get("password")?.touched){
            <p class="m-0 p-2 bg-danger-subtle mb-2">يجب ادخال كلمه السر </p>
        }
        @else if(passwdform.get("password")?.getError("minlength")&&passwdform.get("password")?.touched){
            <p class="m-0 p-2 bg-danger-subtle mb-2">الحد الادني 5 خانات</p>

        }
        @else if(passwdform.get("password")?.getError("maxlength")&&passwdform.get("password")?.touched){
            <p class="m-0 p-2 bg-danger-subtle mb-2">الحد الاقصي 25 خانات</p>

        }
        <input type="text" formControlName="repassword" placeholder="تاكيد كلمه السر" class="form-control mb-2">
        @if(passwdform.get("repassword")?.getError("required")&&passwdform.get("repassword")?.touched){
            <p class="m-0 p-2 bg-danger-subtle mb-2">يجب تاكيد كلمه السر </p>
        }
        @else if(passwdform.get("repassword")?.getError("mismatch")&&passwdform.get("repassword")?.touched){
            <p class="m-0 p-2 bg-danger-subtle mb-2">يجب مطابقه كلمه السر</p>

        }
        
        <button class="mt-2 almarai-light color border-0 rounded-2 width py-2">تحديث</button>

    </form>
   }

</div> -->