

<div class="container">
    <nav class="d-flex justify-content-between align-items-center mb-4">
        <h5 (click)="orderType(0)" class="almarai-light" [ngClass]="{'quiecly': orderspeed()==0}">قيد المعاينة</h5>
        <h5 (click)="orderType(2)" class="almarai-light" [ngClass]="{'quiecly':orderspeed()==2}">تم التسليم</h5>
        <h5 (click)="orderType(3)" class="almarai-light" [ngClass]="{'quiecly':orderspeed()==3}">تم الالغاء</h5>
    </nav>
    @for (item of orderspeed()== 0  ? productOrder1() : orderspeed()==2? productOrder2():orderspeed()==3 ? productOrder3() : null; track $index) {
        <section class=" py-3 mb-4 m-auto bg-warning-subtle" (click)="traking(item.id)">
           
        
            <div class="px-3 d-flex justify-content-between align-items-center">
                <div>
                    <p>{{item.orderDate}}</p>
                   <div class="d-flex justify-content-between">
                    <p>{{item.quantity}}عناصر</p>
                    <p class="m-0">{{item.total |currency:" EGY "}}</p>
                   </div>
                </div>
                <p class="text-danger">تعقب الطلب</p>
        
            </div>
            <div class="row p-2">
                @for (img of item.orderItemPhoto; track $index) {
                    <div class="col-4 ">
                        <img [src]="img" class="w-100" height="250px" alt="">
                    </div>
                }
        
            </div>
        </section> 
        <button (click)="cancle_order(item.id)" [ngClass]="{'d-none':orderspeed() !== 0  }" class="  btn-color border-0 px-4 rounded-1 d-block me-auto mb-3   py-2">الغاء الطلب</button>
        <button (click)="reorder(item.id)" [ngClass]="{'d-none':orderspeed() !== 3  }" class=" mb-3  btn-color border-0 px-4 rounded-1 d-block me-auto   py-2"> تسوق الان</button>
        <button (click)="delete_order(item.id)" [ngClass]="{'d-none':orderspeed() !== 2  }" class=" mb-3  btn-color border-0 px-4 rounded-1 d-block me-auto   py-2"> حذف الطلب</button>
    } 
   

</div>