
.form-control{
    transition: box-shadow 0.1s;
}
h5{
    font-weight: 400;
    padding: 10px;
    color: var(--paragraph-color);
    
}
.focusH5{
    border-bottom: 2px solid red;
    color: black;
}
.form-control:focus{
box-shadow: 0 0 0 2px var(--main-color);
border: 0;
}
.icon-width{
    width: 54px;
}
.emailInput{
    padding-right:33px ;
    background-image: url(../../../assets/image/sms.png);
    background-repeat: no-repeat;
    background-position: 98%;
    position: relative;
}
.passwordInput{
    padding-right:33px ;
    background-image: url(../../../assets/image/lock.png);
    background-size: 9%;
    background-repeat: no-repeat;
    background-position: 98%;
    position: relative;
}
.pcolor{
    color: var(--paragraph-color);
}