<div class="container py-5  d-flex flex-wrap justify-content-start "  >
    <div class="fix ">
    <p>اهلا , Nado!</p>
    <p class="almarai-light h6">تسجيل خروج</p>
    <div class="mline"></div>
    <h6 class="almarai-light" routerLink="/عام">نظرة عامة على الحساب</h6>
    <div class="Line"></div>
    <h6 class="almarai-light">الصفحة الشخصية</h6>
    <div class="Line"></div>
    <h6 class="almarai-light">تغيير كلمة السر</h6>
    <div class="Line"></div>
    <h6 class="almarai-light">الطلبات</h6>
    <div class="Line"></div>
    <h6 class="almarai-light">العنوان</h6>
    <div class="Line"></div>
    <h6 class="almarai-light">تفاصيل الدفع</h6>
    <div class="Line"></div>
    </div>
</div>
